<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-toggler bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/companies/add">Add Company</a>
                <a class="nav-item nav-link text-white" href="/employees/add">Add Employee</a>
                <a class="nav-item nav-link text-white" href="/companies/all">All Companies</a>
                <a class="nav-item nav-link text-white" href="/employees/all">All Employees</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center">
                <div class="justify-content-center">
                    <h1>Employee Details</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 bg-dark">
                        <h2>Employee</h2>
                        <h4>First Name: {firstName}</h4>
                        <h4>Last Name: {lastName}</h4>
                        <h4>Education Level: {educationLevel}</h4>
                        <h4>Job title: {jobTitle}</h4>
                        <h4>Birthdate: {birthDate}</h4>
                        <h4>Salary: {salary in format 10$}</h4>
                        <h4>Company: {company name}</h4>
                        <div class="align-bottom">
						<a class="btn btn-danger align-bottom"
                                                     href="/">Delete employee</a>
                        </div>
                    </div>
                    <div class="col-md-6 bg-dark"><img src="/pic/employee.png" height="350px"></div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>