<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head}">
</head>
<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="~{/fragments/navigation}">
</header>

<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="add-route-form"
          class="w-50 rounded text-white mt-5"
          th:action="@{/routes/add}"
          th:method="POST"
          th:object="${routeAddForm}"
          enctype="multipart/form-data">

        <h3 class="border-left border-light pl-2">Add a new route</h3>
        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label ">Name</label>
            </div>

            <div class="form-group">
                <input name="name"
                       th:value="*{name}"
                       type="text"
                       id="inputName"
                       class="form-control"
                       aria-describedby="inputNameError">
                <small th:if="${#fields.hasErrors('name')}"
                       id="inputNameError"
                       class="invalid-feedback bg-danger rounded">Name length must be more than 3 characters</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputDescription" class="col-form-label ">Description</label>
            </div>
            <div class="form-group">
                    <textarea name="description"
                              th:value="*{description}"
                              required minlength="5"
                              id="inputDescription"
                              class="form-control"
                              aria-describedby="inputDescriptionError">
                    </textarea>
            </div>
            <small th:if="${#fields.hasErrors('description')}"
                   id="inputDescriptionError"
                   class="invalid-feedback  form-text bg-danger rounded">
                Description length must be more than 5 characters</small>
        </div>

        <div>
            <div class="form-group">
                <label for="inputGpx" class="col-form-label ">GPX Coordinates</label>
            </div>
            <div class="form-group">
                <input type="file"
                       name="gpxCoordinates"
                       th:value="*{gpxCoordinates}"
                       required
                       id="inputGpx"
                       class="form-control-file"
                       aria-describedby="inputGpxError">
                <small th:if="${#fields.hasErrors('gpxCoordinates')}"
                       id="inputGpxError"
                       class="invalid-feedback  form-text bg-danger rounded">Must be valid GPX Coordinates</small>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="level">Level</label>
                <select name="level" id="level" class="custom-select" th:field="*{level}">
                    <option value="" selected>Select level</option>
                    <option th:each="level : ${T(com.softuni.pathfinder.domain.enums.Level).values()}"
                            th:value="${level}"
                            th:text="${level}">
                    </option>
                </select>
                <small th:if="${#fields.hasErrors('level')}"
                       id="levelError"
                       class="invalid-feedback  form-text bg-danger rounded">Level Must not be null</small>
            </div>
        </div>

        <div>

            <div class="form-group">
                <label for="videoUrl">Video Url (only last eleven characters from Youtube)</label>

                <input id="videoUrl"
                       th:value="*{video}"
                       name="video"
                       type="text"
                       class="form-control"
                       placeholder="Video url">

                <small th:if="${#fields.hasErrors('video')}"
                       id="videoError"
                       class="invalid-feedback  form-text bg-danger rounded">Url Must Not Be Null</small>
            </div>
        </div>

        <div>
            <div class="form-group p-3">
                <label class="p-2" for="categories">Categories:</label>
                <input class="m-3"
                       type="checkbox"
                       name="categories"
                       id="categories"
                       th:each="category : ${T(com.softuni.pathfinder.domain.enums.CategoryName).values()}"
                       th:object="${category}"
                       th:value="${category}"
                       th:text="${category}">
                <br>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Add Route</button>
        </div>

    </form>
</div>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
