<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{/fragments/navigation}">
    </header>

     <section class="road">
        <div>
            <h2>Title</h2>
            <p>Very long description</p>
            <a href="/" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5" src="/images/pic1.jpg" alt="Title image">
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</html>