<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<header th:replace="~{/fragments/navigation}">
</header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4" th:object="${profile}">
                    <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
                    <div class="text-center mt-3">
                        <span class="bg-secondary p-1 px-4 rounded text-white"
                        th:text="*{level}">Pro</span>

                        <h5 class="mt-4 mb-0">Full name</h5>
                        <span th:text="*{fullName}">UI/UX Designer</span>

                        <h5 class="mt-2 mb-0">Username</h5>
                        <span th:text="*{username}">UI/UX Designer</span>

                        <h5 class="mt-2 mb-0">Age</h5>
                        <span th:text="*{age}">33</span>

                        <div class="px-4 mt-5">
                            <p class="fonts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim et nostrum
                                optio perferendis quam quod ratione rem sit soluta ut! A dolor laborum, maiores neque
                                nesciunt quis rerum sunt suscipit. </p>
                        </div>

                        <ul class="social-list">
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-linkedin"></i></li>
                            <li><i class="fab fa-google"></i></li>
                        </ul>
                        <div class="buttons">
                            <a class="btn btn-outline-primary px-4" th:href="@{/}">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>
