<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{/fragments/navigation}">
    </header>

    <section class="road" th:each="route : ${routes}" th:object="${route}">
        <img th:src="*{imageUrl}" alt="Title image">
        <div>
            <h2 th:text="*{name}">Your Route</h2>
            <p th:text="*{description}"></p>
            <a th:href="@{/routes/{id}(id=*{id})}" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</html>