<header th:fragment="navigation">
    <nav class="main-nav">
        <ul th:if="${@loggedUser.id == null}">
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <a th:href="@{/auth/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/auth/register}">Register</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>

        </ul>
        <ul th:unless="${@loggedUser.id == null}">
            <li>
                <a href="/">Add new route</a>
            </li>

            <li>
                <a href="/">Profile</a>
            </li>

            <li th:if="${@loggedUser.isAdmin()}">
                <a href="/">Admin</a>
            </li>

            <li>
                <a th:href="@{/auth/logout}">Logout</a>
            </li>
        </ul>
    </nav>
</header>